@page
@model WebApplication2.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form  id="loginForm" method="post" >
    <input type="text" id="username" name="username" placeholder="Username" />
    <input type="password" id="password" name="password" placeholder="Password" />
    <button type="submit">Log in</button>
</form>

<script>
    document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("loginForm").addEventListener("submit",function(e){
        var username = document.getElementById("username").value.trim();
        var password = document.getElementById("password").value.trim();

        if (username == ""){
        e.preventDefault();
        alert("Username cannot be empty.");
        }
    });
    });
</script>

<p>Don't have an account? <a href="/Register">Register here</a></p>


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
